/* IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* ROOT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-image: url(./images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 8% 2em;
    text-align: center;
    color: white;
    font-size: 16px;
}

h1 {
    font-family: Poppins, sans-serif;
    font-weight: 400;
}


/* main */

main {
    margin: 0 auto;
}

/* header */

header {
    text-align: left;
}

header img{
    height: 40px;
    margin: 30px 0;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex img {
    width: 100%;
    margin: 30px 0 50px;
}

/* INFO */

h1 {
    font-size: 1.75em;
    font-weight: 600;
}

p {
    margin: 20px 0;
    font-size: 1.15em;
    font-weight: 400;
    opacity: 0.8;
}

button {
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    color: hsl(257, 40%, 49%);
    border-style: none;
    padding: 10px 90px;
    border-radius: 50px;
    margin: 15px auto 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/* SOCIAL LINKS */

.social-links ul {
    display: flex;
    justify-content: center;
}

.social-links li {
    list-style-type: none;
    margin: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    color: white;
    font-size: 1em;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 750px) {

    /* ROOT */
    body {
        text-align: left;
        background-image: url(./images/bg-desktop.svg);
        padding: 0 5% 2em;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        margin-bottom: 10px;
    }
    
    /* HEADER */
    
    .flex {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .flex img {
        width: 55%;
        margin-bottom: 0;
    }

    .info {
        width: 40%;
    }

    button {
        padding: 12px 60px;
    }

    /* SOCIAL LINKS */

    .social-links ul {
        justify-content: flex-end;
    }
}

